@page "/"
@inject NavigationManager NavManager
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>



<h1>Välkommen till TraitorGator</h1>
<p>Välj ett alternativ:</p>


<button class="btn btn-primary me-2" @onclick="NavigateToCreateGame">Skapa Spel</button>
<button class="btn btn-secondary" @onclick="NavigateToJoinGame">Gå med i Spel</button>

@code {
    private void NavigateToCreateGame()
    {
        Console.WriteLine("Navigerar till create-game");
        NavManager.NavigateTo("create-game");
    }
    private void NavigateToJoinGame()
    {
        Console.WriteLine("Navigerar till join-game");
        NavManager.NavigateTo("/join-game");
    }
}